#log-in {
    height: 100%;
}

.connected-to-server {
    color: darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 8px;
    text-align: center;
}

.not-connected-to-server {
    color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 8px;
    text-align: center;
}

.labels {
    width: 130px;
    height: 26px;
    color: darkslategray;
}
