.connected-to-server {
    color: darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 8px;
    text-align: center;
}

.not-connected-to-server {
    color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 8px;
    text-align: center;
}

.title {
    color: rgb(25, 25, 189);
    font-family: chargen;
    font-size: 22px;
    text-align: center;
}

.text-field {
    width: 300px;
    height: 26px;
}

.buttons {
    width: 150px;
    height: 29px;
    color: rgb(203, 241, 253);
    background-color: rgb(87, 117, 199);
    text-align: center;
    margin: 0 auto;
}

.labels {
    width: 130px;
    height: 26px;
    color: darkslategray;
}

.groups {
    margin: 8px 8px 18px 8px;
    padding: 10px;
    border: 1px rgb(131, 174, 253) solid;
    box-shadow: 7px 7px 14px #bddcff;
    background-color: #dbe6ff;
}