.wrapper {
    display: flex;
    align-items: stretch;
}

.app-side-bar-main-layout {
    position: relative;
    height: calc(100vh - 45px);
}

.app-game-screen-layout {
    position: relative; 
    width: calc(100% - 180px); 
    height: calc(100vh - 45px);
}