<div class="square-layout" 
     (click)="onClick()" 
     [ngClass]="{'circle-layout': getLayoutType() === 'player1', 
                 'cross-layout': getLayoutType() === 'player2', 
                 'empty-layout': getLayoutType() === 'empty', 
                 'winner-layout': getLayoutType() === 'winner',
                 'non-winner-layout': getLayoutType() === 'nonWinner'}">
  <p class="square-p" *ngIf="multiplayerService.localTicTacToeSquares.length === 9">
    {{ multiplayerService.localTicTacToeSquares[key] }}
  </p>
</div>