.app-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    font-family: chalky-chicken;
}

.app-modal-body {
    padding: 20px;
    border: 5px rgb(139, 67, 0) solid;
    background: url("/assets/images/seamless_paper_texture.png");
    margin: 80px 350px 80px 350px;
    text-align: center;
}

.app-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.65;
    z-index: 900;
}
 
body.app-modal-open {
    overflow: hidden;
}
