#board-layout {
    /*max-width: 330px;
    max-height: 330px;*/
    max-width: 435px;
    max-height: 435px;
}

.messages-panel {
    margin-bottom: 2px;
    border-width: 3px;
    border-style: ridge;
    font-weight: 400;
    font-family: arcade;
    font-size: 20px;
    width: 435px;
    text-align: center;
}

.red-turn  {
    border-color: rgba(121, 7, 7, 0.7);
    background-color: rgba(206, 76, 76, 0.5);
    color: rgb(92, 5, 5);
}

.blue-turn  {
    border-color: rgba(10, 69, 124, 0.7);
    background-color: rgba(86, 151, 212, 0.5);
    color: rgb(8, 49, 88);
}

.victory  {
    border-color: rgba(12, 128, 27, 0.7);
    background-color: rgba(88, 206, 104, 0.5);
    color: rgb(7, 78, 16);
}