<section>
  <div class="row board-layout" (click)="boardClick()">
    <app-square #squares></app-square>
    <app-square #squares></app-square>
    <app-square #squares></app-square>
    <app-square #squares></app-square>
    <app-square #squares></app-square>
    <app-square #squares></app-square>
    <app-square #squares></app-square>
    <app-square #squares></app-square>
    <app-square #squares></app-square>
  </div>
  <div>
    <p>{{ turnMessage }}</p>
    <p>{{ message }}</p>
  </div>
</section>