#board-layout {
    max-width: 330px;
    max-height: 330px;
}

.messages-panel {
    margin-bottom: 5px;
    border-width: 3px;
    border-style: double;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 330px;
}

.red-turn  {
    border-color: rgba(121, 7, 7, 0.7);
    background-color: rgba(165, 16, 16, 0.5);
    color: rgba(121, 7, 7, 1);
}

.blue-turn  {
    border-color: rgba(10, 69, 124, 0.7);
    background-color: rgba(15, 106, 192, 0.5);
    color: rgb(10, 64, 114);
}

.victory  {
    border-color: rgba(12, 128, 27, 0.7);
    background-color: rgba(16, 173, 37, 0.5);
    color: rgba(12, 128, 27, 1);
}