.wrapper {
    overflow: hidden;
}

#tic-tac-toe {
    background: url("/assets/images/escheresque_2x.png") repeat 0 0;
    background-size: 64px 40px;
    width: 1400px;
    height: 700px;
    -webkit-animation: slide 25s linear infinite;
    animation: slide 25s linear infinite;
}

@-webkit-keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: 0px 600px; }
}

@keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: 0px 600px; }
}

#restart-button {
    margin-left: 10px;
    margin-right: 10px;
    width: 310px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 40, 85);
    background: linear-gradient(rgb(0, 87, 185), rgb(105, 206, 224), rgb(105, 206, 224), rgb(0, 87, 185));
    text-align: center;
    vertical-align: middle;
    color: rgb(0, 2, 90);
    cursor: pointer;
    font-family: chargen;
}

#restart-button:hover {
    margin-left: 8px;
    margin-right: 8px;
    width: 314px;
    height: 31px;
    background: linear-gradient(rgb(119, 0, 0), rgb(255, 136, 136), rgb(255, 136, 136), rgb(119, 0, 0));
    color: rgb(92, 0, 0);
}

#restart-button:active {
    margin-left: 8px;
    margin-right: 8px;
    width: 314px;
    height: 31px;
    background: linear-gradient(rgb(172, 0, 0), rgb(255, 220, 156), rgb(255, 220, 156), rgb(172, 0, 0));
    color: rgb(92, 0, 0);
}