<div class="app-main-background">
    <div id="tic-tac-toe" class="row">
        <div class="groups groups-container">
            <div class="row">
                <button class="buttons" (click)="joinGame()">Join Game</button>
                <p class="tic-tac-toe-message">Number of players: {{ multiplayerService.serverTicTacToeStatus.playersConnected.length }}</p>
            </div>
            <div class="tic-tac-toe-message">
                <p>{{ getPlayersMessage() }}</p>
            </div>
            <app-board #board></app-board>
            <div class="row">
                <button class="buttons" (click)="restartGame()">Restart</button>
                <button class="buttons" (click)="leaveGame()">Leave</button>
            </div>
        </div>
        <div>
            <app-chat></app-chat>
        </div>
    </div>
</div>
