#restart-button {
    margin-left: 10px;
    margin-right: 10px;
    width: 310px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 40, 85);
    background: linear-gradient(rgb(0, 87, 185), rgb(105, 206, 224), rgb(105, 206, 224), rgb(0, 87, 185));
    text-align: center;
    vertical-align: middle;
    color: rgb(0, 2, 90);
    cursor: pointer;
    font-family: chargen;
}

#restart-button:hover {
    margin-left: 8px;
    margin-right: 8px;
    width: 314px;
    height: 31px;
    background: linear-gradient(rgb(119, 0, 0), rgb(255, 136, 136), rgb(255, 136, 136), rgb(119, 0, 0));
    color: rgb(92, 0, 0);
}

#restart-button:active {
    margin-left: 8px;
    margin-right: 8px;
    width: 314px;
    height: 31px;
    background: linear-gradient(rgb(172, 0, 0), rgb(255, 220, 156), rgb(255, 220, 156), rgb(172, 0, 0));
    color: rgb(92, 0, 0);
}

.tic-tac-toe-message {
    text-align: center;
    margin: auto;
    color: rgb(47, 77, 122);
    font-weight: 500;
    font-size: 16px;
}