#sidebar {
    background-image: url("/assets/images/purty_wood.png");
    font-size: 16px;
    font-family: right-chalk;
    min-width: 180px;
    max-width: 180px;
    min-height: calc(100vh - 45px);
    max-height: calc(100vh - 45px);
    text-align: center;
    border-right: 1px rgb(131, 70, 0) solid;
}

.game-option {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/assets/images/paper_fibers.png");
    color: rgb(131, 70, 0);
    cursor: pointer;
    height: 110px;
    vertical-align: middle;
    border: 1px rgb(131, 70, 0) solid;
    border-radius: 10px;
    padding: 10px;
}

.game-option:hover {
    background-image: linear-gradient(rgba(196, 166, 0, 0.5), rgba(196, 166, 0, 0.5)), url("/assets/images/paper_fibers.png");
    color: rgb(80, 43, 0);
}

.selected-game-option {
    background-image: linear-gradient(rgba(182, 0, 0, 0.5), rgba(182, 0, 0, 0.5)), url("/assets/images/paper_fibers.png");
    color: rgb(255, 236, 126);
    cursor: pointer;
    height: 110px;
    vertical-align: middle;
    border: 1px rgb(131, 70, 0) solid;
    border-radius: 10px;
    padding: 10px;
}

.selected-game-option:hover {
    background-image: linear-gradient(rgba(131, 0, 0, 0.6), rgba(131, 0, 0, 0.6)), url("/assets/images/paper_fibers.png");
    color: rgb(255, 229, 83);
}

.game-icon {
    height: 70px;
    line-height: 70px;
}

.game-name {
    height: 30px;
    line-height: 30px;
}
