#sidebar {
    background: linear-gradient(rgb(4, 32, 77), rgb(255, 255, 255));
    font-size: 16px;
    font-family: chargen;
    min-width: 180px;
    max-width: 180px;
    min-height: calc(100vh - 45px);
    max-height: calc(100vh - 45px);
    text-align: center;
    border-right: 1px rgb(33, 32, 88) solid;
}

.game-option {
    background-color: rgb(185, 198, 228);
    color: rgb(2, 20, 68);
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: 1px rgb(34, 33, 116) solid;
    box-shadow: 4px 4px 3px rgb(15, 28, 90);
}

.game-option:hover {
    background-color: rgb(147, 157, 180);
    color: rgb(1, 10, 37);
    height: 55px;
    line-height: 55px;
}

.selected-game-option {
    background-color: rgb(143, 14, 14);
    color: rgb(255, 240, 155);
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: 1px rgb(10, 8, 94) solid;
    box-shadow: 4px 4px 3px rgb(15, 28, 90);
}

.selected-game-option:hover {
    background-color: rgb(119, 10, 10);
    color: rgb(253, 235, 132);
    height: 55px;
    line-height: 55px;
}
