@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

@font-face {
    font-family: 'arcade';
    src: url('assets/fonts/arcade/ARCADE.TTF') format('truetype');
}

@font-face {
    font-family: 'chargen';
    src: url('assets/fonts/chargen/chargen.ttf') format('truetype');
}

@font-face {
    font-family: 'crackman';
    src: url('assets/fonts/crackman/crackman.ttf') format('truetype');
}

@font-face {
    font-family: 'tetri';
    src: url('assets/fonts/tetri/tetri.ttf') format('truetype');
}

.app-main-background {
    background: url("/assets/images/escheresque_2x.png") repeat 0 0;
    background-size: 64px 40px;
    width: 100%;
    height: 100%;
    -webkit-animation: slide 25s linear infinite;
    animation: slide 25s linear infinite;
}

@-webkit-keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: 0px 600px; }
}

@keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: 0px 600px; }
}

.title {
    color: rgb(23, 54, 122);
    font-family: chargen;
    font-size: 22px;
    text-align: center;
}

.groups {
    margin: 8px 8px 18px 8px;
    padding: 0px;
    border: 1px rgb(131, 174, 253) solid;
    box-shadow: 7px 7px 14px #bddcff;
    background-color: #dbe6ff;
    min-width: 458px;
    border-radius: 14px;
}

.groups-container {
    padding: 10px;
}

.player-data {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 64, 107);
    margin-left: 16px;
}

.text-field {
    width: 300px;
    height: 26px;
}

.buttons {
    width: 150px;
    height: 29px;
    color: rgb(203, 241, 253);
    background-color: rgb(87, 117, 199);
    text-align: center;
    margin: 0 auto;
    border-radius: 16px;
}

.buttons:disabled {
    background-color: rgb(179, 179, 179);
    color: rgb(247, 247, 247);
}

.row {
    margin: 0;
}

.app-modal-title {
    color: rgb(23, 54, 122);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    font-family: chargen;
}

.app-modal-main-text {
    color: rgb(16, 40, 92);
    font-size: 16px;
    text-align: center;
}

.tabs {
    background-color: rgb(137, 159, 211);
    height: 36px;
    border: 1px rgb(131, 174, 253) solid;
    border-bottom: none;
    font-family: chargen;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    margin: 0;
    color: rgb(16, 40, 92);
    cursor: default;
}

.tabs:hover {
    background-color: rgb(120, 139, 185);
}

.tabs p {
    margin: 0;
    line-height: 34px;
}

.active-tab {
    background-color: rgb(201, 211, 236);
}

.active-tab:hover {
    background-color: rgb(201, 211, 236);
}

.left-tab {
    border-top-left-radius: 14px;
    border-top-right-radius: 2px;
}

.right-tab {
    border-top-left-radius: 2px;
    border-top-right-radius: 14px;
}
